body {
    background: url(images/background.jpg) no-repeat fixed;
    background-size: cover;
    color: white;
    margin: 0, auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    line-height: 12px;
}
    
header h1 {
    font-size: 120px;
    text-transform: uppercase;
}
    
header span {
    font-size: 30px;
    }
    header img {
    height: 300px;
}
    

#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 5%;
}

#about h2 {
    font-size: 26px;
    text-transform: uppercase;
}

#about div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    flex: 1;
    max-width: 300px;
    font-stretch: 2;
    padding: 3px;
    border-width: 3px;
    background: linear-gradient(to right, #F25A29 0%, #373737 100%);
    transition: scale 0.5s ease, box-shadow 0.2s ease;
}

#about div:hover {
    box-shadow: 12px 12px 2px 1px #f25a2980;
    scale: 1.1;
    color: #2b230d80;
    text-shadow: 2px 2px 2px #f25a29;
}

foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    font-weight: 600;
    font-size: 18px;
    background-color: #555555;
    border-top: 5px solid #f25a29;
    padding-left: 20px;
    padding-right: 20px;
}
    
foot a {
    text-decoration: none;
    color: #fff;
}
    